@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.dark body {
  background-color: #1e293b; /* Dark background */
  color: #ffffff; /* Light text */
}

body {
  transition: background-color 0.5s;
}

.dark {
  --bg-color: #1f2937; /* example dark background color */
  --text-color: #ffffff; /* example dark text color */
}

.bg-white {
  background-color: var(--bg-color, #ffffff);
}

.dark:bg-stone-900 {
  background-color: #1f2937; /* example dark background color */
}

.text-neutral-900 {
  color: var(--text-color, #000000);
}

.dark:text-neutral-100 {
  color: #ffffff;
}
